@import url('https://fonts.googleapis.com/css?family=Copse|Hind+Madurai');



.clock
{
	font-family: 'Hind Madurai';
	
	background: #F4ECE3;
	border:1px solid #7F90C4;
	border-radius: 10px 10px;
	width: 100%;
	height: 120px;
	text-align: center;

	display: flex;
	flex-direction: column;
	justify-content: space-around;

}

.clock .hour
{
	font-size: 2.5em;
	color:#273A6D;
}

.clock .day
{
	font-size: 1.5em;
	color:#7F90C4;
}