@import url('https://fonts.googleapis.com/css?family=Copse|Hind+Madurai');

.weather
{
	font-family: 'Hind Madurai';

	background:#F4ECE3;
	width: 200px;
	display: flex ;
	flex-direction: column ;
	
	justify-content: space-around;
	border:1px solid #7F90C4;
	border-radius: 10px 10px;

}

.weather .info
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;

}

.weather .temp
{
	font-size: 1.5em;
	margin:auto;
		color: #7F90C4

}

.weather .city
{
	color:#273A6D;
	margin-left: 10px;
	font-size:1.3em;
}

.weather .tempIcon
{
	width: 65px;
	height: 65px;
	margin: auto;
}

.tempIcon img
{
	width: 100%;
	height: 100%;

}


